*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-image: url(backk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 7%;
}
.maindiv {
    background-color: rgb(178, 179, 180);
    color: rgb(83, 81, 81);
    width: 320px;
    padding: 20px;
    margin: auto;
    height: 500px;
    padding-top: 30px;  
    border-radius: 20px; 
}
.maindiv h1 {
    text-align: center;
    padding: 30px;
    border-radius: 20px;
 }
 .div1 , .div2 {
    padding: 10px;
   
}
.div1 label, .div2 label{
    padding: 10px;
    color: rgb(34, 34, 34);
    font-size: 18px;
   
}
.div1 input , .div2 input {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 97%;
    border-radius: 20px;
    padding-left: 10px;
    border: 1px solid rgb(156, 154, 154);
}
.div3 {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 20px;
}
.div3 button {
    background-color: rgb(116, 85, 80);
    border-radius: 50px;
    color: rgb(29, 28, 28);
    line-height: 30px;
    font-size: 16px;
    font-weight:bold ;
    border: 1px solid white;
    width: 70%;
   
}
a {
    color: rgb(17, 17, 17);
    text-decoration: none;
    padding-left: 15px;
    font-size: small;
}
