*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-image: url(back.jpeg);

}
.maindiv {
    background-color: black;
    color: white;
    width: 320px;
    padding: 20px;
    margin: auto;
    margin-top: 95px;
    height: 550px;
    padding-top: 30px;
    
}
.maindiv h1 {
   text-align: center;
   padding: 30px;
}
.div1 , .div2 {
    padding: 10px;
}
.div1 input , .div2 input {
    padding-top: 7px;
    padding-bottom: 7px;
    width: 97%;
}
.div3 {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

}
.div3 button {
    background-color: rgb(211, 85, 27);
    border-radius: 50px;
    color: white;
    line-height: 30px;
    font-size: 17px;
    border: 1px solid black;
    width: 91%;
}
a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}
